@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    font-family: 'Roboto';
}
header{
    background-color: #484848;
}
.cabacalho{
    position: absolute;
    width: 940px;
    margin: auto;
    color: #484848;
    height: 25;
}
nav{
    position: absolute;
    top: 10px;
    right: 100px;
}
nav li{
    font-family: Roboto;
    display: inline;
    font-size: 20px;
    margin: 0 0 0 30px;
    color: rgb(213, 213, 213);
}
nav li:hover{
    color: rgb(213, 213, 213);
    font-size: 22px;
}

.produtos{
    width: 940px;
    padding: 150px;
    margin: 0 auto;
}
.produtos li{
   display: inline-block;
   text-align: center ;
   width: 30%;
   vertical-align: top;
   margin: 0 1.5%;
   padding: 20px 30px;
   box-sizing: border-box;
   border: 2px solid #484848;
   border-radius: 10px;

}
.p1{
    font-size: 25px;
    padding-bottom: 10px;
}
.p2{
    font-size: 18px;
    color: #06c;
}
.produtos li:hover{
    border-color: #06c;
}
.produtos li:hover .p1{
    font-size: 30px;
}
footer{
    text-align: center;
    background: #484848;
    padding: 20px 0;
    height: 10px;
    margin-top: 255px;
}
.copyright{
    color: rgb(213, 213, 213);
    font-size: medium;

}